html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
/* DEBUGGING*/
.bg-red { background-color:red;}
.bg-green { background-color:green;}
.bg-blue { background-color:blue;}
.bg-grey { background-color:grey;}
.bg-pink { background-color:pink;}
.bg-salmon { background-color:salmon;}
.bg-white { background-color:white;}
.bg-black { background-color:black;}
.bg-game {background-color: #fff2e6;}
.border-red{border:1px solid red;}
.border-black{border:1px solid black;}
.border-white{border:1px solid white;}

#tabsContent{
  height: 600px;
}
/*#heading {    margin-top: 4em}*/
.row {
    /*margin-left: 15px;*/
    /*margin-right: 15px*/
}

